{% extends "base_measuring.html" %}
{% load static %}
{% block page_content %}
<div class="container-fluid" id="container-wrapper">
    <div class="d-sm-flex flex-column">
        <div class="d-sm-flex justify-content-between align-items-center mt-2 mb-3 p-3 border-bottom-dark">
            <div class="d-sm-flex flex-column">
                <img src="{% static "img/logo.png" %}" class="logo-measuring">
                <small>PT. Astra Komponen Indonesia</small>
            </div>
            <div>
                <h3 class="h3">MEASURING / TESTING REQUEST FORM</h3>
            </div>
            <div>
                <table class="custom_table">
                    <tbody>
                        <tr>
                            <td><small>Document No</small></td>
                            <td><small>FR-LAB.01-009</small></td>
                        </tr>

                        <tr>
                            <td><small>Revision</small></td>
                            <td><small>01</small></td>
                        </tr>

                        <tr>
                            <td><small>Effective Start</small></td>
                            <td><small>23 Juni 2020</small></td>
                        </tr>

                        <tr>
                            <td><small>Page</small></td>
                            <td><small>1 of 1</small></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <form>
            <div class="alert alert-success alert-dismissible" role="alert" id="info-measuring">  
            </div>
            {% csrf_token %}
            <hr>
            <input type="hidden" id="id_request" name="id_request" value="{{measuring_form.id_request}}"/>
            <div class="d-sm-flex justify-content-between">
                <div>
                    <input type="hidden" name="id_part" class="form-control form-control-sm" id="id_part">
                    <div class="d-sm-flex flex-sm-row align-items-center">
                        <div class="col-sm-5">
                            <label for="part_name" class="col-form-label">Part Name</label>
                        </div>
                        <div class="col-sm-12">
                            <input type="text" name="part_name" class="form-control form-control-sm" id="part_name"
                                placeholder="MIRROR ASSY LH BACK KZRA" value="{{nama_part}}" readonly>
                        </div>
                    </div>

                    <div class="d-sm-flex flex-sm-row align-items-center">
                        <div class="col-sm-5">
                            <label for="part_no" class="col-form-label">Part No</label>
                        </div>
                        <div class="col-sm-12">
                            <input type="text" name="part_no" id="part_no" class="form-control form-control-sm" placeholder="QB2MRR-GANTZRBK01" value="{{part_no}}" readonly>
                        </div>
                    </div>
                    
                    {% if type_model != None %}
                    <div id="modelOrType">
                        <div class="d-sm-flex flex-sm-row align-items-center">
                            <div class="col-sm-5">
                                <label for="type" class="col-form-label">Type / Model</label>
                            </div>
                            <div class="col-sm-12">
                                <input type="text" name="type" id="type" class="form-control form-control-sm" placeholder="KZRA / Mold" value="{{type_model}}" readonly>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    
                    <div id="customer_form">
                        <div class="d-sm-flex flex-sm-row align-items-center">
                            <div class="col-sm-5">
                                <label for="customer" class="col-form-label">Customer</label>
                            </div>
                            <div class="col-sm-12">
                                <input name="customer" id="customer" type="text" class="form-control form-control-sm"
                                    placeholder="PT. Denso Indonesia" value="{{supplier}}" readonly>
                            </div>
                        </div>
                    </div>

                    <div id="supplier_form">
                        <div class="d-sm-flex flex-sm-row align-items-center">
                            <div class="col-sm-5">
                                <label for="supplier" class="col-form-label">Supplier</label>
                            </div>
                            <div class="col-sm-12">
                                <input type="text" name="supplier" id="supplier" class="form-control form-control-sm"
                                    placeholder="PT. Berkat Solusi Persada">
                            </div>
                        </div>
                    </div>
                    
                    <div class="d-sm-flex flex-sm-row align-items-center">
                        <div class="col-sm-5">
                            <label for="address" class="col-form-label">Address</label>
                        </div>
                        <div class="col-sm-12">
                            <textarea name="address" id="address" class="form-control form-control-sm">{{measuring_form.address}}</textarea>
                        </div>
                    </div>

                    <div class="d-sm-flex flex-sm-row align-items-center">
                        <div class="col-sm-5">
                            <label for="qty_of_cavity" class="col-form-label">Qty of Cavity</label>
                        </div>
                        <div class="col-sm-12">
                            <input name="qty_of_cavity" value="{{measuring_form.qty_cavity}}" type="text" class="form-control form-control-sm input-sm" readonly>
                        </div>
                    </div>

                    <div class="d-sm-flex flex-sm-row align-items-center">
                        <div class="col-sm-5">
                            <label for="qty_of_part" class="col-form-label">Qty of Part</label>
                        </div>
                        <div class="col-sm-12">
                            <input name="qty_of_part" value="{{measuring_form.qty_part}}" type="text" class="form-control form-control-sm input-sm" readonly>
                        </div>
                    </div>
                </div>

                <div>
                    <p class="text-left font-weight-bold">Complementary Documents :</p>
                    {% for complementary_documents in measuring_form.complementary_documents%}
                        <p class="fa fa-check"> {{complementary_documents}}</p><br/>
                    {% endfor %}
                </div>

                <div>
                    <p class="text-left font-weight-bold">Part Status :</p>
                    {% for part_status in measuring_form.part_status%}
                        <p class="fa fa-check"> {{part_status}}</p><br/>
                    {% endfor %}
                </div>
            </div>
            <hr />
            <div class="d-sm-flex justify-content-between">
                <div style="width: 26%;">
                    <p class="text-left font-weight-bold">Measuring Request :</p>
                    {% for measuring_request in measuring_form.measuring_request%}
                        <p class="fa fa-check"> {{measuring_request}}</p><br/>
                    {% endfor %}
                </div>

                <div>
                    <p class="text-left font-weight-bold">Testing Request :</p>
                    {% for testing_request in measuring_form.testing_request%}
                        <p class="fa fa-check"> {{testing_request}}</p><br/>
                    {% endfor %}
                </div>
                <div>
                    <p class="text-left font-weight-bold">Note :</p>
                    <div>
                        <textarea class="form-control form-control-sm" cols="22" name="note" id="note_measuring" value="{{measuring_form.note}}" readonly>{{measuring_form.note}}</textarea>
                    </div>
                </div>
            </div>
            <hr />
            <div class="d-sm-flex justify-content-between mb-5">
                <div>
                    <table class="custom_table" style="width: 100%;">
                        <tr>
                            <td colspan="2"><p class="font-weight-bolder text-center m-auto">Applicant</p></td>
                        </tr>
                        <tr style="height: 85px;">
                            <input type="hidden" name="signature_staff" id="signature_staff"/>
                            <input type="hidden" name="signature_spv" id="signature_spv"/>
                            {% if measuring_form.applicant_staff_signature != "" %}
                                <td id="signature-staff-not-empty" class="disabled">
                                    <img class="disabled" src="{{measuring_form.applicant_staff_signature}}" height="75" width="150">
                                </td>
                            {% else %}
                                <td id="signature-staff">
                                
                                </td>
                            {% endif %}

                            {% if measuring_form.applicant_spv_signature != "" %}
                                <td id="signature-spv-not-empty">
                                    <img class="disabled" src="{{measuring_form.applicant_spv_signature}}" height="75" width="150">
                                </td>
                            {% else %}
                                 <td id="signature-spv">

                                 </td>
                            {% endif %}
                        </tr>

                        <tr>
                           <td>
                               <div class="d-sm-flex flex-sm-row justify-content-center align-items-center">
                                    <div class="col-sm-12">
                                        {% if getStaff != None %}
                                            <select class="select2-single-placeholder12 form-control" name="staff_name" id="staff_name" disabled>
                                                <option value="{{getStaff.nama}}">{{getStaff.nama}}</option>
                                            </select>

                                        {% else %}
                                            <select class="select2-single-placeholder12 form-control" name="staff_name" id="staff_name">
                                                <option value=""></option>
                                            </select>
                                        {% endif %}
                                    </div>
                                </div>
                           </td>
                           <td>
                                <div class="d-sm-flex flex-sm-row justify-content-center align-items-center">
                                    <div class="col-sm-12">
                                        {% if getSpv != None %}
                                            <select class="select2-single-placeholder12 form-control" name="spv_name" id="spv_name" disabled>
                                                <option value="{{getSpv.nama}}">{{getSpv.nama}}</option>
                                            </select>
                                        {% else %}
                                            <select class="select2-single-placeholder12 form-control" name="spv_name" id="spv_name">
                                                <option value=""></option>
                                            </select>
                                        {% endif %}
                                    </div>
                                </div>
                           </td> 
                        </tr>
                        <tr>
                            <td>
                                <div class="d-sm-flex flex-sm-row justify-content-center align-items-center">
                                     <div class="col-sm-12">
                                        {% if getStaffDept != None %}
                                            <input type="text" class="form-control form-control-sm small"
                                             placeholder="Dept name" id="staff_dept_name" value="{{getStaffDept.dept_name}}" readonly>

                                        {% else %}
                                            <input type="text" class="form-control form-control-sm small"
                                             placeholder="Dept name" id="staff_dept_name" readonly>
                                        {% endif %}
                                         
                                     </div>
                                 </div>
                            </td>
                            <td>
                                 <div class="d-sm-flex flex-sm-row justify-content-center align-items-center">
                                     <div class="col-sm-12">
                                        {% if getSpvDept != None %}
                                            <input type="text" class="form-control form-control-sm"
                                             placeholder="Dept name" id="spv_dept_name" value="{{getSpvDept.dept_name}}" readonly>
                                        {% else %}
                                            <input type="text" class="form-control form-control-sm small"
                                             placeholder="Dept name" id="spv_dept_name" readonly>
                                        {% endif %}
                                         
                                     </div>
                                 </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p class="font-weight-bolder text-center m-auto">Staff</p>
                            </td>
                            <td>
                                <p class="font-weight-bolder text-center m-auto">Supervisor</p>
                            </td>
                        </tr>
                    </table>
                </div>

                <div class="ml-4 mr-4">
                    <table class="custom_table" style="width: 100%;">
                        <tr>
                            <td colspan="2"><p class="font-weight-bolder text-center m-auto">Recipient</p></td>
                        </tr>
                        <tr style="height: 85px;">
                            <input type="hidden" name="signature_staff_lab" id="signature_staff_lab"/>
                            <input type="hidden" name="signature_spv_lab" id="signature_spv_lab"/>
                            {% if measuring_form.recipient_staff_signature != "" %}
                                <td id="signature-staff-lab-not-none">
                                    <img class="disable" src="{{measuring_form.recipient_staff_signature}}" height="75" width="150">
                                </td>
                            {% else %}
                                <td id="signature-staff-lab">

                                </td>
                            {% endif %}
                            
                            {% if measuring_form.recipient_spv_signature != "" %}
                                <td id="signature-spv-lab-not-none">
                                    <img class="disable" src="{{measuring_form.recipient_spv_signature}}" height="75" width="150">
                                </td>
                            {% else %}
                                <td id="signature-spv-lab">

                                </td>
                            {% endif %}
                            
                        </tr>
                        <tr>
                            <td>
                                 <div class="d-sm-flex flex-sm-row justify-content-center align-items-center">
                                    <div class="col-sm-12">
                                        {% if getLabStaff != None %}
                                            <select class="select2-single-placeholder12 form-control" name="staff_lab_name" id="staff_lab_name_not_none">
                                                <option value="{{getLabStaff.nama}}">{{getLabStaff.nama}}</option>
                                            </select>
                                        {% else %}
                                            <select class="select2-single-placeholder12 form-control" name="staff_lab_name" id="staff_lab_name">
                                                <option value="">Search your name</option>
                                            </select>
                                        {% endif %}
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="d-sm-flex flex-sm-row justify-content-center align-items-center">
                                    <div class="col-sm-12">
                                        {% if getLabSpv != None %}
                                            <select class="select2-single-placeholder12 form-control" name="spv_lab_name" id="spv_lab_name_not_none">
                                                <option value="{{getLabSpv.nama}}">{{getLabSpv.nama}}</option>
                                            </select>

                                        {% else %}
                                            <select class="select2-single-placeholder12 form-control" name="spv_lab_name" id="spv_lab_name">
                                                <option value="">Search your name</option>
                                            </select>
                                        {% endif %}
                                    </div>
                                </div>
                            </td> 
                         </tr>
                         <tr>
                             <td>
                                 <div class="d-sm-flex flex-sm-row justify-content-center align-items-center">
                                      <div class="col-sm-12">
                                          <input type="text" class="form-control form-control-sm"
                                              placeholder="Dept name" value="QUALITY ASSURANCE" readonly>
                                      </div>
                                  </div>
                             </td>
                             <td>
                                  <div class="d-sm-flex flex-sm-row justify-content-center align-items-center">
                                      <div class="col-sm-12">
                                          <input type="text" class="form-control form-control-sm"
                                              placeholder="Dept name" value="QUALITY ASSURANCE" readonly>
                                      </div>
                                  </div>
                             </td>
                         </tr>
                         <tr>
                             <td>
                                 <p class="font-weight-bolder text-center m-auto">Lab. Staff</p>
                             </td>
                             <td>
                                 <p class="font-weight-bolder text-center m-auto">Lab. Supervisor</p>
                             </td>
                         </tr>
                    </table>
                </div>

                <div>
                    <div class="d-sm-flex flex-sm-row align-items-center">
                        <div class="col-sm-5">
                            <label for="receiving_date" class="col-form-label">Receiving Date</label>
                        </div>
                        <div class="col-sm-7">
                            <div class="input-group input-group-sm date">
                                <input type="text" name="receiving_date" class="form-control" placeholder="01/06/2020" value="{{measuring_form.receiving_date}}" id="receiving_date" required readonly>
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-calendar"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="d-sm-flex flex-sm-row align-items-center">
                        <div class="col-sm-5">
                            <label for="receiving_time" class="col-form-label">Time</label>
                        </div>
                        <div class="col-sm-7">
                            <div class="input-group clockpicker">
                                <input type="text" name="receiving_time" class="form-control form-control-sm input-sm" value="{{measuring_form.receiving_time}}" placeholder="12:30" id="receiving_time" required readonly>                     
                                <div class="input-group-append">
                                  <span class="input-group-text"><i class="fas fa-clock"></i></span>
                                </div>                      
                            </div>
                        </div>
                    </div>

                    <div class="d-sm-flex flex-sm-row align-items-center">
                        <div class="col-sm-5">
                            <label for="shift" class="col-form-label">Shift</label>
                        </div>
                        <div class="col-sm-7">
                            <select class="select2-single-placeholder11 form-control" name="shift" id="shift" required disabled>
                                <option value="{{measuring_form.shift}}">{{measuring_form.shift}}</option>
                            </select>
                        </div>
                    </div>
                    <hr />
                    <p class="text-left font-weight-bold">Estimated Testing Time (SST & CASS Test Only)**</p>
                    <div class="d-sm-flex flex-sm-row justify-content-between">
                        <div class="d-sm-flex flex-sm-row">
                            <div class="col-sm-5">
                                <label for="start_testing" class="col-form-label">Testing Start</label>
                            </div>
                            <div class="col-sm-7" id="testing_start">
                                <div class="input-group input-group-sm date">
                                    <input type="text" name="test_start" class="form-control" placeholder="01/06/2020" id="start_testing">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fas fa-calendar"></i></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="d-sm-flex flex-sm-row">
                            <div class="col-sm-4">
                                <label for="time_start_testing" class="col-form-label">Time</label>
                            </div>
                            <div class="col-sm-8">
                                <div class="input-group clockpicker" id="time_testing_start">
                                    <input type="text" name="time_testing_start" class="form-control form-control-sm input-sm" placeholder="12:30" id="time_start_testing">                     
                                    <div class="input-group-append">
                                      <span class="input-group-text"><i class="fas fa-clock"></i></span>
                                    </div>                      
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="d-sm-flex flex-sm-row justify-content-between">
                        <div class="d-sm-flex flex-sm-row">
                            <div class="col-sm-5">                            
                                <label for="end_testing" class="col-form-label">Testing End&nbsp;&nbsp;</label>
                            </div>
                            <div class="col-sm-7" id="testing_end">
                                <div class="input-group input-group-sm date">
                                    <input type="text" name="testing_end" class="form-control" placeholder="01/06/2020" id="end_testing">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fas fa-calendar"></i></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="d-sm-flex flex-sm-row">
                            <div class="col-sm-4">
                                <label for="time_end_testing" class="col-form-label">Time</label>
                            </div>
                            <div class="col-sm-8">
                                <div class="input-group clockpicker" id="time_end">
                                    <input type="text" name="time_end" class="form-control form-control-sm input-sm" placeholder="12:30" id="time_end_testing">                     
                                    <div class="input-group-append">
                                      <span class="input-group-text"><i class="fas fa-clock"></i></span>
                                    </div>                      
                                </div>
                            </div>
                        </div>
                    </div>
                    <br/>
                    <p class="text-left font-weight-bold">
                        ** filled by laboratory staff
                    </p>
                </div>
            </div>
            <hr />
            <div class="d-sm-flex justify-content-center mb-5">
                <a href="#" class="btn btn-primary btn-icon-split btn-sm" id="search_email">
                    <span class="icon text-white-50">
                      <i class="fa fa-paper-plane"></i>
                    </span>
                    <span class="text">Request Now</span>
                </a>
            </div>
        </form>
    </div>
</div>
{% endblock %}
{% block scripts_form_measuring %}
<script src="{% static "js/measuring_form.js" %}"></script>
<script src="{% static "vendor/clock-picker/clockpicker.js" %}"></script>
<script src="{% static "js/measuring_dataPart.js" %}"></script>
<script src="{% static "js/applicant_edit.js" %}"></script>
<script src="{% static "js/recipient_edit.js" %}"></script>
<script src="{% static "js/signature_pad.umd.js" %}"></script>
<script src="{% static "js/signature.js" %}"></script>
<script src="{% static "js/updateMeasuringForm.js" %}"></script> 
{% endblock %}