{% extends "base.html" %}
{% load static %}

{% block page_content %}
<div class="container-fluid" id="container-wrapper">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Task Management</h1>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Task Management</li>
        </ol>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="card mb-4">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Task Management</h6>
                </div>

                <div class="table-responsive p-3">
                    <table class="table align-items-center table-flush table-hover" id="dataTable">
                        <thead class="thead-light">
                            <tr>
                                <th>No</th>
                                <th>Alert</th>
                                <th>Part Name</th>
                                <th>Request Form</th>
                                <th>PIC Operator</th>
                                <th>Task</th>
                                <th>Inspected</th>
                                <th>Checked</th>
                                <th>Approved</th>
                                <th>Created</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>
                                    <i class="fa fa-circle text-success"></i>
                                </td>
                                <td>Mirror Assy Outer RH</td>
                                <td>Customer: PT. Astra Daihatsu </td>
                                <td>Matthew Adi Pratama</td>
                                <td>
                                    <a href="#" class="btn btn-info btn-sm" data-toggle="modal"
                                        data-target="#general_infomration" id="#modalScroll">
                                        Action
                                    </a>
                                </td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>20 Juni 2020</td>
                            </tr>

                            <tr>
                                <td>2</td>
                                <td>
                                    <i class="fa fa-circle text-success"></i>
                                </td>
                                <td>Mirror Assy Outer LH</td>
                                <td>Customer: PT. Astra Daihatsu </td>
                                <td>Matthew Adi Pratama</td>
                                <td>
                                    <a href="#" class="btn btn-info btn-sm">
                                        Action
                                    </a>
                                </td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>20 Juni 2020</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade bd-example-modal-xl" id="general_infomration" tabindex="-1" role="dialog"
        aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="myExtraLargeModalLabel">General Information</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <form>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group row">
                                    <label for="inputReg" class="col-sm-4 col-form-label">Registration Number</label>
                                    <div class="col-sm-8">
                                        <input type="text" id="inputReg" name="registration_number"
                                            class="form-control form-control-sm" placeholder="003/QA-0994/3/13">
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="form-group row">
                                    <label for="inputSupplier" class="col-sm-4 col-form-label">Supplier Name</label>
                                    <div class="col-sm-8">
                                        <input type="text" id="inputSupplier" name="supplier_name"
                                            class="form-control form-control-sm" placeholder="Supp #1">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group row">
                                    <label for="inputQuantity" class="col-sm-4 col-form-label">Quantity</label>
                                    <div class="col-sm-8">
                                        <input type="number" id="inputQuantity" name="quantity"
                                            class="form-control form-control-sm" placeholder="0">
                                    </div>
                                </div>
                            </div>


                            <div class="col-sm-6">
                                <div class="form-group row">
                                    <label for="inputReceived" class="col-sm-4 col-form-label">Received</label>
                                    <div class="col-sm-8">
                                        <input type="text" id="inputReceived" name="received"
                                            class="form-control form-control-sm" placeholder="20 Juni 2020" readonly>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group row">
                                    <label for="inputTemp" class="col-sm-4 col-form-label">Temp/Hum/Lightness</label>
                                    <div class="col-sm-8">
                                        <input type="text" id="inputTemp" name="temp_hum_lightness"
                                            class="form-control form-control-sm" placeholder="50C/55%/1128 lux">
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="form-group row">
                                    <label for="inputPartName" class="col-sm-4 col-form-label">Part Name</label>
                                    <div class="col-sm-8">
                                        <input type="text" id="inputPartName" name="part_name"
                                            class="form-control form-control-sm" placeholder="Mirror Assy Outer RH">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">

                            <div class="col-sm-6">
                                <div class="form-group row">
                                    <label for="inputMeasureMent" class="col-sm-4 col-form-label">Measurement
                                        Type</label>
                                    <div class="col-sm-8">
                                        <select class="select2-single-placeholder5 form-control" name="measurement_name"
                                            id="inputMeasureMent">
                                            <option value="">Select</option>
                                            <option value="Change Machine">Change Machine</option>
                                            <option value="Change Material">Change Material</option>
                                            <option value="New Part">New Part</option>
                                            <option value="Periodical">Periodical</option>
                                            <option value="Repair Tools">Repair Tools</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="form-group row">
                                    <label for="inputPartNumber" class="col-sm-4 col-form-label">Part Number</label>
                                    <div class="col-sm-8">
                                        <input type="text" id="inputPartNumber" name="part_number"
                                            class="form-control form-control-sm" placeholder="QB2MRR-GANTZRBK01">
                                    </div>
                                </div>
                            </div>

                        </div>


                        <div class="row">

                            <div class="col-sm-6">
                                <div class="form-group row">
                                    <label for="inputStandart" class="col-sm-4 col-form-label">Standart
                                        Tolerance</label>
                                    <div class="col-sm-8">
                                        <select class="select2-single-placeholder6 form-control"
                                            name="standart_tolerance" id="inputStandart">
                                            <option value="">Select</option>
                                            <option value="Tolerance Dimension TSZ 2205 G / DTSZ 2205 G">Tolerance
                                                Dimension TSZ 2205 G / DTSZ 2205 G</option>
                                            <option value="Plastic Molding (HES D0007 -08)">Plastic Molding (HES D0007
                                                -08)</option>
                                            <option value="Rubbers (HES D0020-73)">Rubbers (HES D0020-73)</option>
                                            <option value="Periodical">Periodical</option>
                                            <option value="Tolerance By HES D00008 - 08 (Pressing)">Tolerance By HES
                                                D00008 - 08 (Pressing)</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="form-group row">
                                    <label for="inputPartType" class="col-sm-4 col-form-label">Part Type/Model</label>
                                    <div class="col-sm-8">
                                        <input type="text" id="inputPartType" name="part_type"
                                            class="form-control form-control-sm" placeholder="KZRA">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <hr>
                        <h5 class="modal-title" id="myExtraLargeModalLabel">Measurement Results</h5>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group row">
                                    <label for="inputIlustration" class="col-sm-2 col-form-label">Image
                                        Ilustration</label>
                                    <div class="col-sm-4">
                                        <input type="file" id="inputIlustration" name="image_ilustration"
                                            class="form-control">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="table-responsive">
                                <table class="table align-items-center table-flush">
                                    <thead class="thead-light">
                                        <tr>
                                            <th width="150">Inspection Item</th>
                                            <th>Method/Equip</th>
                                            <th>Sample 1</th>
                                            <th>Sample 2</th>
                                            <th>Sample 3</th>
                                            <th>Sample 4</th>
                                            <th>Sample 5</th>
                                            <th>Standart</th>
                                            <th></th>
                                        </tr>
                                    </thead>

                                    <tbody id="row_measurements">
                                        <tr id="row_1">
                                            <td>
                                                <input type="text" id="inpection_1" name="inpection_name"
                                                    class="form-control form-control-sm" placeholder="Distance">
                                            </td>

                                            <td>
                                                <input type="text" id="method_1" name="method_name"
                                                    class="form-control form-control-sm" placeholder="CMM">
                                            </td>

                                            <td>
                                                <input type="text" id="sample1_1" name="sample1_name"
                                                    class="form-control form-control-sm" placeholder="0" readonly>
                                            </td>

                                            <td>
                                                <input type="text" id="sample2_1" name="sample2_name"
                                                    class="form-control form-control-sm" placeholder="0" readonly>
                                            </td>

                                            <td>
                                                <input type="text" id="sample3_1" name="sample3_name"
                                                    class="form-control form-control-sm" placeholder="0" readonly>
                                            </td>

                                            <td>
                                                <input type="text" id="sample4_1" name="sample4_name"
                                                    class="form-control form-control-sm" placeholder="0" readonly>
                                            </td>

                                            <td>
                                                <input type="text" id="sample5_1" name="sample5_name"
                                                    class="form-control form-control-sm" placeholder="0" readonly>
                                            </td>

                                            <td>
                                                <div class="row">
                                                    <div class="col-sm-5">
                                                        <input type="text" id="standart1_1" name="standart1_name"
                                                            class="form-control form-control-sm" placeholder="0">
                                                    </div>
                                                    <span>±</span>
                                                    <div class="col-sm-5">
                                                        <input type="text" id="standart2_1" name="standart2_name"
                                                            class="form-control form-control-sm" placeholder="0">
                                                    </div>
                                                </div>
                                            </td>
                                            <td>

                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <a href="#" class="btn btn-danger btn-sm btn-icon-split" id="tambah_row">
                            <span class="icon text-white-50">
                                <i class="fa fa-plus"></i>
                            </span>
                            <span class="text">Tambah</span>
                        </a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="tolerance" data-backdrop="static">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Tolerance</h5>
                <button type="button" class="close close_tolerance" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <fieldset class="form-group">
                    <div class="row">
                        <legend class="col-form-label col-sm-4 pt-0">Tolerance Type</legend>
                        <div class="col-sm-4">
                            <div class="custom-control custom-radio">
                                <input type="radio" id="spesifically" name="tolerance" class="custom-control-input">
                                <label class="custom-control-label" for="spesifically">Spesifically</label>
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <div class="custom-control custom-radio">
                                <input type="radio" id="common" name="tolerance" class="custom-control-input">
                                <label class="custom-control-label" for="common">Common</label>
                            </div>
                        </div>
                    </div>
                </fieldset>

                <div id="spesifically_a">
                    <div class="form-group row">
                        <label for="spesifically_a" class="col-sm-4 col-form-label">Tolerance (a)</label>
                        <div class="col-sm-8">
                            <div class="form-group row">
                                <label for="spesifically_plus" class="col-sm-2 col-form-label">Plus</label>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control form-control-sm" value="0"
                                        id="spesifically_plus">
                                </div>

                                <label for="spesifically_minus" class="col-sm-2 col-form-label">Minus</label>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control form-control-sm" value="0"
                                        id="spesifically_minus">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="common_a">
                    <div class="form-group row">
                        <label for="common_a" class="col-sm-4 col-form-label">Tolerance (a)</label>
                        <div class="col-sm-8">
                            <div class="form-group row">
                                <div class="col-sm-6">
                                    <select class="select2-single-placeholder7 form-control" name="common_type"
                                        id="inputCommon">
                                        <option value="">Select</option>
                                        <option value="1">For General(a)</option>
                                        <option value="2">For General(a, b)</option>
                                        <option value="3">For Radius</option>
                                        <option value="4">For Angular</option>
                                    </select>
                                </div>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control form-control-sm" value="0" id="common_value">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="close_tolerance btn btn-outline-primary btn-sm">Close</button>
                <button type="button" id="insert_tolerance" class="btn btn-primary btn-sm">Insert</button>
            </div>
        </div>
    </div>
</div>

<div id="modal_tolerance">

</div>

</div>
{% endblock %}