.logo_style {
    width: 55px;
    height: 20px;
    background-position: center;
    background-size: cover;
}

.select2-selection { 
  overflow: hidden !important; 
}

.select2-selection__rendered { 
  white-space: normal; 
  word-break: break-all; 
}

.logo-measuring {
    width: 175px !important;
    height: 45px !important;
    background-size: 175px 45px;
}

.custom_table, .custom_table > tbody,  .custom_table > tbody > tr > td{
  border: 1px solid #1d1919;
}

.custom_table {
  width: 250px;
}

.custom_table > tbody > tr > td {
  padding: 1.5px;
}

.border-bottom-dark {
  border-bottom: 1.5px solid #5a5c69!important;
}