.logo_style {
  width: 55px;
  height: 20px;
  background-position: center;
  background-size: cover;
}

.select2-selection { 
  overflow: hidden !important; 
}

.select2-selection__rendered { 
  white-space: normal; 
  word-break: break-all; 
}

.logo-measuring {
  width: 175px !important;
  height: 45px !important;
  background-size: 175px 45px;
}

.custom_table, .custom_table > tbody,  .custom_table > tbody > tr > td{
  border: 1px solid #1d1919;
}

.custom_table {
  width: 250px;
}

.custom_table > tbody > tr > td {
  padding: 1.5px;
}

.border-bottom-dark {
  border-bottom: 1.5px solid #5a5c69!important;
}

/* created by juan valerian delima */
.loading1 {
  width: 16%;
  height: 25px;
  background-color: #ccc;
  border-radius: 2px;
  background-image: linear-gradient(90deg, #ddd 0px, #e8e8e8 100px, #ddd 200px);
  background-size: 1170px;
  animation: shine-skeleton_spp 0.70s infinite linear;
}

@keyframes shine-skeleton_spp {
  100% {
      background-position: 1170px;
  }
}

.custom-shirink-small {
  width: 5% !important;
}
.custom-shirink {
  width: 65% !important;
}

.custom-shirink2 {
  width: 35% !important;
}

.custom-shirink3 {
  width: 22% !important;
}

.custom-shirink4 {
  width: 38% !important;
}

.custom-shirink-info {
  width: 16% !important;
} 

.custom-shirink-search {
  width: 24% !important;
}

.signature-pad--body {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.signature-pad--body canvas{
  border: 1px solid #222831;
  margin: 0 auto;
}

.radius_loading {
  display: block;
  width: 100%;
  height: 40px;
  background-color: #E7E7E7;
  border-radius: 100%;
  background-image: linear-gradient( 90deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5) 60%, rgba(255, 255, 255, 0) 80% );
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  background-size: 150px;
  animation: radius__skeleton 1s infinite linear;
  -webkit-animation: radius__skeleton 1s infinite linear;
}

.created_at_notif_loading {
  width: 120px;
  height: 12px;
  background-color: #E7E7E7;
  background-image: linear-gradient( 90deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5) 60%, rgba(255, 255, 255, 0) 80% );
  background-size: 300px;
  animation: rect__skeleton 0.90s infinite linear;
  -webkit-animation: rect__skeleton 0.90s infinite linear;
  margin-bottom: 5px;
}

.info_notif_loading {
  width: 200px;
  height: 12px;
  background-color: #E7E7E7;
  background-image: linear-gradient( 90deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5) 60%, rgba(255, 255, 255, 0) 80% );
  background-size: 400px;
  animation: info_rect__skeleton 0.90s infinite linear;
  -webkit-animation: info_rect__skeleton 0.90s infinite linear;
}

.info_task_loading {
  width: 100%;
  height: 25px;
  background-color: #E7E7E7;
  background-image: linear-gradient( 90deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5) 60%, rgba(255, 255, 255, 0) 80% );
  background-size: 400px;
  animation: info_rect__skeleton 0.90s infinite linear;
  -webkit-animation: info_rect__skeleton 0.90s infinite linear;
}

.note {
  height: 90px !important;
}


.created_at_notif_loading__modal {
  width: 180px;
  height: 12px;
  background-color: #E7E7E7;
  background-image: linear-gradient( 90deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5) 60%, rgba(255, 255, 255, 0) 80% );
  background-size: 300px;
  animation: rect__skeleton 0.90s infinite linear;
  -webkit-animation: rect__skeleton 0.90s infinite linear;
  margin-bottom: 5px;
}

.info_notif_loading__modal {
  width: 280px;
  height: 12px;
  background-color: #E7E7E7;
  background-image: linear-gradient( 90deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5) 60%, rgba(255, 255, 255, 0) 80% );
  background-size: 400px;
  animation: info_rect__skeleton 0.90s infinite linear;
  -webkit-animation: info_rect__skeleton 0.90s infinite linear;
}

#no_notif {
  display: none;
}

#no_notif_modal {
  display: none;
}

.notif-modal-header {
  background-color: #3f51b5 !important;
  border: 0px !important;
  color: #fff !important;
}

@keyframes radius__skeleton {
  100% {
    background-position: 150px;
  }
}

@keyframes rect__skeleton {
  100% {
    background-position: 300px;
  }
}

@keyframes info_rect__skeleton {
  100% {
    background-position: 400px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {

}

@media (min-width: 481px) and (max-width: 767px) {
  .created_at_notif_loading {
    width: 110px !important;
  }

  .info_notif_loading {
    width: 200px !important;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .created_at_notif_loading {
    width: 100px !important;
  }

  .info_notif_loading {
    width: 250px !important;
  }
}