<div class="modal fade animated--grow-in" id="modal-notif" tabindex="-1" role="dialog" aria-labelledby="modalNotifScrollableTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header notif-modal-header">
                <h5 class="modal-title" id="modalNotifScrollableTitle">All Notifications</h5>
                <button style="color: #fff;" type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <div id="notifications-modal">
                    <div id="no_notif_modal">
                        <div class="d-flex justify-content-center">
                            <div>
                                <span class="p">You have no notification!</span>
                            </div>
                        </div>
                    </div>

                    <div id="info-notif-modal">
                        <div id="skeleton_notif_modal">
                            <a class="dropdown-item d-flex align-items-center" href="">
                                <div class="mr-3">
                                    <div class="icon-circle">
                                        <i class="radius_loading"></i>
                                    </div>
                                </div>
                                <div>
                                    <div class="created_at_notif_loading__modal"></div>
                                    <div class="info_notif_loading__modal"></div>
                                </div>
                            </a>

                            <a class="dropdown-item d-flex align-items-center" href="">
                                <div class="mr-3">
                                    <div class="icon-circle">
                                        <i class="radius_loading"></i>
                                    </div>
                                </div>
                                <div>
                                    <div class="created_at_notif_loading__modal"></div>
                                    <div class="info_notif_loading__modal"></div>
                                </div>
                            </a>

                            <a class="dropdown-item d-flex align-items-center" href="">
                                <div class="mr-3">
                                    <div class="icon-circle">
                                        <i class="radius_loading"></i>
                                    </div>
                                </div>
                                <div>
                                    <div class="created_at_notif_loading__modal"></div>
                                    <div class="info_notif_loading__modal"></div>
                                </div>
                            </a>

                            <a class="dropdown-item d-flex align-items-center" href="">
                                <div class="mr-3">
                                    <div class="icon-circle">
                                        <i class="radius_loading"></i>
                                    </div>
                                </div>
                                <div>
                                    <div class="created_at_notif_loading__modal"></div>
                                    <div class="info_notif_loading__modal"></div>
                                </div>
                            </a>

                            <a class="dropdown-item d-flex align-items-center" href="">
                                <div class="mr-3">
                                    <div class="icon-circle">
                                        <i class="radius_loading"></i>
                                    </div>
                                </div>
                                <div>
                                    <div class="created_at_notif_loading__modal"></div>
                                    <div class="info_notif_loading__modal"></div>
                                </div>
                            </a>
                        </div>

                        <div id="notifications-info-modal">

                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-outline-primary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>