<div class="modal fade bd-example-modal-lg" id="modal-staff-signature" tabindex="-1" role="dialog" aria-labelledby="exampleModalSign" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalSign">Staff Signature</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <h6>Please Sign Below</h6>
                <div id="staff-signature-pad" class="signature-pad">
                    <div class="signature-pad--body mb-4">
                        <canvas id="staff-signature-canvas"></canvas>
                    </div>
                    <button type="button" id="clear_staff_sign" class="btn btn-outline-danger btn-sm">Clear</button>
                    <button type="button" id="undo_staff_sign" class="btn btn-outline-primary btn-sm">Undo</button>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-outline-primary btn-sm" data-dismiss="modal">Close</button>
                <button type="button" id="apply-staff-signature" class="btn btn-primary btn-sm">Apply</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade bd-example-modal-lg" id="modal-spv-signature" tabindex="-1" role="dialog" aria-labelledby="exampleModalSign1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title" id="exampleModalSign1">Supervisor Signature</h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <div id="spv-signature-pad" class="signature-pad">
                    <div class="signature-pad--body mb-4">
                        <canvas id="spv-signature-canvas"></canvas>
                    </div>
                    <button type="button" id="clear_spv_sign" class="btn btn-outline-danger btn-sm">Clear</button>
                    <button type="button" id="undo_spv_sign" class="btn btn-outline-primary btn-sm">Undo</button>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-outline-primary btn-sm" data-dismiss="modal">Close</button>
                <button type="button" id="apply-spv-signature" class="btn btn-primary btn-sm">Apply</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade bd-example-modal-lg" id="modal-staff-lab-signature" tabindex="-1" role="dialog" aria-labelledby="exampleModalSign2" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalSign2">Staff Lab Signature</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <h6>Please Sign Below</h6>
                <div id="staff-lab-signature-pad" class="signature-pad">
                    <div class="signature-pad--body mb-4">
                        <canvas id="staff-lab-signature-canvas"></canvas>
                    </div>
                    <button type="button" id="clear_staff_lab_sign" class="btn btn-outline-danger btn-sm">Clear</button>
                    <button type="button" id="undo_staff_lab_sign" class="btn btn-outline-primary btn-sm">Undo</button>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-outline-primary btn-sm" data-dismiss="modal">Close</button>
                <button type="button" id="apply-staff-lab-signature" class="btn btn-primary btn-sm">Apply</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade bd-example-modal-lg" id="modal-spv-lab-signature" tabindex="-1" role="dialog" aria-labelledby="exampleModalSign3" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title" id="exampleModalSign3">Supervisor Lab Signature</h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <div id="spv-lab-signature-pad" class="signature-pad">
                    <div class="signature-pad--body mb-4">
                        <canvas id="spv-lab-signature-canvas"></canvas>
                    </div>
                    <button type="button" id="clear_spv_lab_sign" class="btn btn-outline-danger btn-sm">Clear</button>
                    <button type="button" id="undo_spv_lab_sign" class="btn btn-outline-primary btn-sm">Undo</button>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-outline-primary btn-sm" data-dismiss="modal">Close</button>
                <button type="button" id="apply-spv-lab-signature" class="btn btn-primary btn-sm">Apply</button>
            </div>
        </div>
    </div>
</div>