<div class="modal fade bd-example-modal-xl" id="modalMaterial" tabindex="-1" role="dialog" aria-labelledby="exampleModalMaterials" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title" id="exampleModalMaterials">Search Data Part</h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <div class="table-responsive p-3">
                    <div class="main-table-materials">
                        <table class="table align-items-center table-flush" id="dataMaterials">
                            <thead class="thead-light">
                                <tr>
                                    <th>Part No</th>
                                    <th>Nama Part</th>
                                    <th>Vendor</th>
                                    <th>Option</th>
                                </tr>
                            </thead>

                            <tbody>
                                {% for data in suppliers %}
                                    <tr>
                                        <td>{{data.0}}</td>
                                        <td>{{data.1}}</td>
                                        <td>{{data.2}}</td>
                                        <td>
                                            <a href="#" id="{{data.0}}" class="btn btn-sm btn-primary btn-icon-split btn-pilih-material" data-dismiss="modal">
                                                <span class="icon text-white-50">
                                                    <i class="fas fa-check"></i>
                                                </span>
                                                <span class="text">Pilih</span>
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>

                    <div class="skeleton-loading-2">
                        <div class="d-sm-flex flex-sm-row justify-content-between mb-4">
                            <div class="loading1 custom-shirink-info">
                            </div>
                            <div class="loading1 custom-shirink-search">
                            </div>
                        </div>

                        <div class="d-sm-flex flex-sm-row justify-content-between mb-2">
                            <div class="loading1 mr-2 custom-shirink2">
                            </div>
                            <div class="loading1 mr-2 custom-shirink">
                            </div>
                            <div class="loading1 mr-2">
                            </div>
                            <div class="loading1 mr-2">
                            </div>
                            <div class="loading1 mr-2">
                            </div>
                            <div class="loading1 mr-2">
                            </div>
                        </div>

                        <div class="d-sm-flex flex-sm-row justify-content-between mb-2">
                            <div class="loading1 mr-2 custom-shirink2">
                            </div>
                            <div class="loading1 mr-2 custom-shirink">
                            </div>
                            <div class="loading1 mr-2">
                            </div>
                            <div class="loading1 mr-2">
                            </div>
                            <div class="loading1 mr-2">
                            </div>
                            <div class="loading1 mr-2">
                            </div>
                        </div>

                        <div class="d-sm-flex flex-sm-row justify-content-between mb-2">
                            <div class="loading1 mr-2 custom-shirink2">
                            </div>
                            <div class="loading1 mr-2 custom-shirink">
                            </div>
                            <div class="loading1 mr-2">
                            </div>
                            <div class="loading1 mr-2">
                            </div>
                            <div class="loading1 mr-2">
                            </div>
                            <div class="loading1 mr-2">
                            </div>
                        </div>

                        <div class="d-sm-flex flex-sm-row justify-content-between mb-2">
                            <div class="loading1 mr-2 custom-shirink2">
                            </div>
                            <div class="loading1 mr-2 custom-shirink">
                            </div>
                            <div class="loading1 mr-2">
                            </div>
                            <div class="loading1 mr-2">
                            </div>
                            <div class="loading1 mr-2">
                            </div>
                            <div class="loading1 mr-2">
                            </div>
                        </div>

                        <div class="d-sm-flex flex-sm-row justify-content-between mb-2">
                            <div class="loading1 mr-2 custom-shirink2">
                            </div>
                            <div class="loading1 mr-2 custom-shirink">
                            </div>
                            <div class="loading1 mr-2">
                            </div>
                            <div class="loading1 mr-2">
                            </div>
                            <div class="loading1 mr-2">
                            </div>
                            <div class="loading1 mr-2">
                            </div>
                        </div>

                        <div class="d-sm-flex flex-sm-row justify-content-between mb-2">
                            <div class="loading1 mr-2 custom-shirink2">
                            </div>
                            <div class="loading1 mr-2 custom-shirink">
                            </div>
                            <div class="loading1 mr-2">
                            </div>
                            <div class="loading1 mr-2">
                            </div>
                            <div class="loading1 mr-2">
                            </div>
                            <div class="loading1 mr-2">
                            </div>
                        </div>

                        <div class="d-sm-flex flex-sm-row justify-content-between mb-2">
                            <div class="loading1 mr-2 custom-shirink2">
                            </div>
                            <div class="loading1 mr-2 custom-shirink">
                            </div>
                            <div class="loading1 mr-2">
                            </div>
                            <div class="loading1 mr-2">
                            </div>
                            <div class="loading1 mr-2">
                            </div>
                            <div class="loading1 mr-2">
                            </div>
                        </div>

                        <div class="d-sm-flex flex-sm-row justify-content-between mb-2">
                            <div class="loading1 mr-2 custom-shirink2">
                            </div>
                            <div class="loading1 mr-2 custom-shirink">
                            </div>
                            <div class="loading1 mr-2">
                            </div>
                            <div class="loading1 mr-2">
                            </div>
                            <div class="loading1 mr-2">
                            </div>
                            <div class="loading1 mr-2">
                            </div>
                        </div>

                        <div class="d-sm-flex flex-sm-row justify-content-between mb-4">
                            <div class="loading1 mr-2 custom-shirink2">
                            </div>
                            <div class="loading1 mr-2 custom-shirink">
                            </div>
                            <div class="loading1 mr-2">
                            </div>
                            <div class="loading1 mr-2">
                            </div>
                            <div class="loading1 mr-2">
                            </div>
                            <div class="loading1 mr-2">
                            </div>
                        </div>

                        <div class="d-sm-flex flex-sm-row justify-content-between">
                            <div class="loading1 custom-shirink3">
                            </div>
                            <div class="loading1 custom-shirink4">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>