<div class="modal fade bd-example-modal-xl" id="modalDataParts" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title" id="exampleModalLabel">Search Data Part</h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <div class="table-responsive p-3">
                    <div id="main-table">
                        <table class="table align-items-center table-flush" id="dataParts">
                            <thead class="thead-light">
                                <tr>
                                    <th>No</th>
                                    <th>No Sap</th>
                                    <th>Nama Part</th>
                                    <th>Type</th>
                                    <th>Proses</th>
                                    <th>Customer</th>
                                    <th>Option</th>
                                </tr>
                            </thead>
                        </table>
                    </div>

                    <div id="skeleton-loading">
                        <div class="d-sm-flex flex-sm-row justify-content-between mb-4">
                            <div class="loading1 custom-shirink-info">
                            </div>
                            <div class="loading1 custom-shirink-search">
                            </div>
                        </div>

                        <div class="d-sm-flex flex-sm-row justify-content-between mb-2">
                            <div class="loading1 mr-2 custom-shirink-small">
                            </div>
                            <div class="loading1 mr-2 custom-shirink2">
                            </div>
                            <div class="loading1 mr-2 custom-shirink">
                            </div>
                            <div class="loading1 mr-2">
                            </div>
                            <div class="loading1 mr-2">
                            </div>
                            <div class="loading1 mr-2">
                            </div>
                            <div class="loading1 mr-2">
                            </div>
                        </div>

                        <div class="d-sm-flex flex-sm-row justify-content-between mb-2">
                            <div class="loading1 mr-2 custom-shirink-small">
                            </div>
                            <div class="loading1 mr-2 custom-shirink2">
                            </div>
                            <div class="loading1 mr-2 custom-shirink">
                            </div>
                            <div class="loading1 mr-2">
                            </div>
                            <div class="loading1 mr-2">
                            </div>
                            <div class="loading1 mr-2">
                            </div>
                            <div class="loading1 mr-2">
                            </div>
                        </div>

                        <div class="d-sm-flex flex-sm-row justify-content-between mb-2">
                            <div class="loading1 mr-2 custom-shirink-small">
                            </div>
                            <div class="loading1 mr-2 custom-shirink2">
                            </div>
                            <div class="loading1 mr-2 custom-shirink">
                            </div>
                            <div class="loading1 mr-2">
                            </div>
                            <div class="loading1 mr-2">
                            </div>
                            <div class="loading1 mr-2">
                            </div>
                            <div class="loading1 mr-2">
                            </div>
                        </div>

                        <div class="d-sm-flex flex-sm-row justify-content-between mb-2">
                            <div class="loading1 mr-2 custom-shirink-small">
                            </div>
                            <div class="loading1 mr-2 custom-shirink2">
                            </div>
                            <div class="loading1 mr-2 custom-shirink">
                            </div>
                            <div class="loading1 mr-2">
                            </div>
                            <div class="loading1 mr-2">
                            </div>
                            <div class="loading1 mr-2">
                            </div>
                            <div class="loading1 mr-2">
                            </div>
                        </div>

                        <div class="d-sm-flex flex-sm-row justify-content-between mb-2">
                            <div class="loading1 mr-2 custom-shirink-small">
                            </div>
                            <div class="loading1 mr-2 custom-shirink2">
                            </div>
                            <div class="loading1 mr-2 custom-shirink">
                            </div>
                            <div class="loading1 mr-2">
                            </div>
                            <div class="loading1 mr-2">
                            </div>
                            <div class="loading1 mr-2">
                            </div>
                            <div class="loading1 mr-2">
                            </div>
                        </div>

                        <div class="d-sm-flex flex-sm-row justify-content-between mb-2">
                            <div class="loading1 mr-2 custom-shirink-small">
                            </div>
                            <div class="loading1 mr-2 custom-shirink2">
                            </div>
                            <div class="loading1 mr-2 custom-shirink">
                            </div>
                            <div class="loading1 mr-2">
                            </div>
                            <div class="loading1 mr-2">
                            </div>
                            <div class="loading1 mr-2">
                            </div>
                            <div class="loading1 mr-2">
                            </div>
                        </div>

                        <div class="d-sm-flex flex-sm-row justify-content-between mb-2">
                            <div class="loading1 mr-2 custom-shirink-small">
                            </div>
                            <div class="loading1 mr-2 custom-shirink2">
                            </div>
                            <div class="loading1 mr-2 custom-shirink">
                            </div>
                            <div class="loading1 mr-2">
                            </div>
                            <div class="loading1 mr-2">
                            </div>
                            <div class="loading1 mr-2">
                            </div>
                            <div class="loading1 mr-2">
                            </div>
                        </div>

                        <div class="d-sm-flex flex-sm-row justify-content-between mb-2">
                            <div class="loading1 mr-2 custom-shirink-small">
                            </div>
                            <div class="loading1 mr-2 custom-shirink2">
                            </div>
                            <div class="loading1 mr-2 custom-shirink">
                            </div>
                            <div class="loading1 mr-2">
                            </div>
                            <div class="loading1 mr-2">
                            </div>
                            <div class="loading1 mr-2">
                            </div>
                            <div class="loading1 mr-2">
                            </div>
                        </div>

                        <div class="d-sm-flex flex-sm-row justify-content-between mb-4">
                            <div class="loading1 mr-2 custom-shirink-small">
                            </div>
                            <div class="loading1 mr-2 custom-shirink2">
                            </div>
                            <div class="loading1 mr-2 custom-shirink">
                            </div>
                            <div class="loading1 mr-2">
                            </div>
                            <div class="loading1 mr-2">
                            </div>
                            <div class="loading1 mr-2">
                            </div>
                            <div class="loading1 mr-2">
                            </div>
                        </div>

                        <div class="d-sm-flex flex-sm-row justify-content-between">
                            <div class="loading1 custom-shirink3">
                            </div>
                            <div class="loading1 custom-shirink4">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>