* {
    font-family: 'Open Sans', sans-serif;
    color: #1b262c;
}
header {
    display: flex;
    justify-content: center;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
}
  
th, td {
    text-align: left;
    padding: 8px;
    width: 5px;
    height: 30;
    border: 1px solid #ddd;
}

.text-center {
    text-align: center;
}

.signature {
    display: flex;
}

.signature > table {
    margin-right: 5px;
}

img {
    display: block;
    margin: 0 auto;
}

a.button3{
    display:inline-block;
    padding:0.3em 1.2em;
    margin:0 0.3em 0.3em 0;
    border-radius:2em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color:#FFFFFF;
    background-color:#4eb5f1;
    text-align:center;
    transition: all 0.2s;
}

a.button3:hover{
    background-color:#4095c6;
}

a.button4{
    display:inline-block;
    padding:0.3em 1.2em;
    margin:0 0.3em 0.3em 0;
    border-radius:2em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color:#FFFFFF;
    background-color:#fa1616;
    text-align:center;
    transition: all 0.2s;
}

a.button4:hover{
    background-color:#ff0000;
}

@media all and (max-width:30em){
    a.button3{
        display:block;
        margin:0.2em auto;
    }
}